{
  "extends": ["airbnb", "airbnb/hooks"],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "react/state-in-constructor": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-plusplus": "off",
    "react/require-default-props": "off"
  }
}